.background-card
    padding: $spacing-6
    border-radius: $radius-2
    background-color: $color-text-20
    min-height: 280px
    box-sizing: border-box
    display: flex
    background-size: cover
    background-repeat: no-repeat
    background-position: center

    &__icon

        svg
            fill: $color-text-100
            width: 20px 
            height: 20px

    &__content
        padding: $spacing-3
        border-radius: $radius-2
        background-color: $color-white-100
        width: 100%
        display: flex
        flex-direction: column
        justify-content: space-between

    &__title
        color: $color-text-100

        +l-block()
            font: $font-text
        