.courses-section
    border-radius: $radius-2
    padding-top: 1px
    +gradient-main()

    +sm-block()
        border-radius: $radius-3

    &__inner
        padding: $spacing-3
        border-radius: $radius-2
        background-color: $color-white-100

        +sm-block()
            padding: $spacing-4
            border-radius: $radius-3


    &__header
        display: flex
        flex-direction: column
        row-gap: $spacing-3
        margin-bottom: $spacing-4

        +sm-block()
            margin-bottom: $spacing-5
            flex-direction: row
            justify-content: space-between
            align-items: flex-end
            gap: $spacing-4

    &__header-text
        display: flex
        flex-direction: column
        row-gap: $spacing-3
        max-width: 500px

        +md-block()
            max-width: 610px

    &__title
        +h2()

    &__description
        font: $font-text

    &__cards-block
        display: flex
        flex-direction: column
        gap: $spacing-3

        +md-block()
            display: grid
            grid-template-columns: repeat(5, 1fr)

    &__cards-block 

        &.swiper
            overflow: visible
        
        .swiper-slide
            width: 210px

            +sm-block()
                width: auto
            

    
        

