.faq-section
    padding-top: $spacing-7
    padding-bottom: $spacing-7
    position: relative


    &__container
        +container()
        position: relative
        z-index: 1

    &__header-block
        display: flex
        flex-direction: column
        row-gap: $spacing-3 
        margin-bottom: $spacing-4

        +sm-block()
            margin-bottom: $spacing-5

        +md-block()
            align-items: center

    &__main-header-block
        display: flex
        flex-direction: column
        row-gap: $spacing-3 
        max-width: 580px

        +md-block()
            align-items: center
            text-align: center
            max-width: 730px

    &__subtitle
        +tag()

    &__title
        +h2()

    &__cards-block
        

