.feedback
    padding: $spacing-4
    background-color: $color-gray
    border-radius: $radius-3
    display: flex
    flex-direction: column
    height: 100%
    box-sizing: border-box

    &__user
        display: flex
        column-gap: $spacing-2
        align-items: center


    &__avatar
        width: 50px
        height: 50px
        border-radius: 50%
        overflow: hidden
        display: flex
        justify-content: center
        align-items: center
        
        img
            width: 100%
            height: 100%
            object-fit: cover

    &__name
        font: $font-h3

    &__header
        padding-bottom: $spacing-3
        border-bottom: 1px solid $color-gray-2
        margin-bottom: $spacing-3

    &__text
        font: $font-text
        margin-bottom: $spacing-2
        display: -webkit-box
        -webkit-line-clamp: 8
        -webkit-box-orient: vertical
        overflow: hidden

        &.is-expanded
            -webkit-line-clamp: unset

    &__read-more
        font: $font-text
        color: $color-pink-3
        cursor: pointer
        margin-bottom: 50px
        display: none

        &.is-visible
            display: block

    &__feed-images
        display: flex
        margin-top: auto
        padding-top: $spacing-4

        a
            display: flex
            justify-content: center
            align-items: center
            width: 76px
            height: 76px
            border-radius: 8px
            overflow: hidden

            img
                width: 100%
                height: 100%
                object-fit: cover

