.link
    font: $font-text
    color: $color-text-100
    text-decoration: none
    display: inline-flex
    align-items: center
    gap: 4px
    flex-wrap: nowrap
    white-space: nowrap

    &:hover
        text-decoration: underline

    &__icon
        width: 16px
        height: 16px
        display: flex
        align-items: center
        justify-content: center

        svg
            width: 16px
            height: 16px
            fill: $color-text-100